<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>LED Control</title>
    <link rel="stylesheet" type="text/css" href="..\..\content\index.css" />
</head>
<body>
    <nav><h1>Try it out!:</h1></nav>

    <a class="redButton" href="/Home/Index?input=1">ON</a>
    <a class="redButton" href="/Home/Index?input=0">OFF</a>
</body>
</html>